<!DOCTYPE html>


<html lang="en">
    <head>
          <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>cascade configurator</title>
    </head>
    <body>
     
     <h1>Your Proposed System Spec </h1>
   
        
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Part number</th>
      <th scope="col">Description</th>
      <th scope="col">Price (£)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {% for cascades in cascades %} 
      <td>{{ cascades["id"] }}</td>
      <td>{{ cascades["description"] }}</td>
      <td>{{ cascades["price"] }}</td>
       {% endfor %}
    </tr>
   
  </tbody>
</table>
        
        
    </body>
</html>